/*
 * Kebo Testimonials - Admin Styles
 */

/*
 * Admin Menu Icon
 */
.menu-icon-kbte_testimonials div.wp-menu-image {
        background: url('../images/icons/admin_menu_icon.png') 0 -32px no-repeat;
}
.menu-icon-kbte_testimonials .wp-menu-open div.wp-menu-image {
        background-position: 0 0;
}
.menu-icon-kbte_testimonials:hover div.wp-menu-image {
        background-position: 0 0;
}

/*
 * Testimonials Admin - Post Meta
 */

#kbte_reviewer_name,
#kbte_reviewer_email,
#kbte_reviewer_url {
        width: 100%;
}

/*
 * Rating System
 */
@import "misc/ratings";

/*
 * Admin Testimonials Listing
 */
.post-type-kbte_testimonials .fixed .column-details {
        width: 15%;
}
.post-type-kbte_testimonials .fixed .column-rating {
        width: 10%;
}