/*
 * Kebo Testimonials - Frontend Styles
 */

/*
 * Custom Mixins
 */
@import "misc/mixins";

/*
 * Rating System
 */
@import "misc/ratings";

/*
 * Kebo Grid
 */
@import "misc/kebogrid";

/*
 * Testimonials
 */
.kcontainer {
        overflow: hidden;
}
.ktestimonials {
        margin: 1em 0;
}
.ktestimonials,
.ktestimonials * {
    @include box-sizing();
}
.ktestimonials .page-title {
        margin: 0 0 1em 0;
        padding: 0 0.625rem;
}
.ktestimonials .kcontentbefore {
        padding: 0 0.625rem;
}

.ktestimonials .ktestimonial {
        border: 1px solid #ccc;
        padding: 1em;
        width: 100%;
        background: #fff;
        overflow: hidden;
}
.ktestimonial .kheader {
        
}
.ktestimonial .kcontent {
        margin: 1em 0;
}
.ktestimonial .kcontent img {
        float: left;
        margin: 0 1em 1em 0;
        margin-top: 4px;
}
.ktestimonial .kfooter {
        clear: both;
}
.ktestimonial .kfooter .krating {
        width: 50%;
        float: left;
        padding-top: 3px;
}
.ktestimonial .kfooter .kauthor {
        width: 50%;
        float: right;
        text-align: right;
}

/*
 * General Form
 */

.ktestimonialform {
        
}
.ktestimonialform,
.ktestimonialform * {
    @include box-sizing();
}
.ktestimonialform label {
        display: block;
        margin-bottom: 0.5em;
}
.ktestimonialform input,
.ktestimonialform textarea {
        width: 100%;
        margin-bottom: 1em;
}
.ktestimonialform .error input,
.ktestimonialform .error textarea {
        margin-bottom: 0;
}
.ktestimonialform .error {
        display: block;
}

/*
 * Foundation Abide - Error Styles
 */
@import "misc/abide";